<html>
<head><title>Configure a Tool Provider</title></head>
<body>
<style type="text/css">
  input {
    width: 45em;
  }
</style>

<h1>Tool Provider Configuration</h1>
<p>Hey <%= @username %>, let's launch a Tool Provider!</p>
<% if @message %>
  <p style="color: #ff3d23;"><%= @message %></p>
<% end %>
<form action="/tool_launch" method="post">
  <table>
    <tr>
      <td>Tool Name</td>
      <td><input name="tool_name" type="text" value="lti-tester"/></td>
    </tr>
    <tr>
      <td>Consumer Key</td>
      <td>
        <input name="consumer_key" type="text" value="321965a32e63f59d0dd37b5ce1b9ef56c9498e0c80d8a341fec6fa138bc8c793" />
        <!-- input  name="consumer_key" type="text" value="admin"-->
        <!-- <input  name="consumer_key" type="text" value="speakez_key"> -->
      </td>
    </tr>
    <tr>
      <td>Consumer Secret</td>
      <td>
        <input name="consumer_secret" type="text" value="ee1af7ce581d76234d52d6fe9201e42f899f04943e0443aa74ac4e4658de7ba3"/>
        <!input name="consumer_secret" type="text" value="speakez_secret"/>
      </td>
    </tr>
    <tr>
      <td>lms provider url(eg cap activity)</td>
      <td>
        <input name="launch_url" type="text"
            <% # value="http://localhost:3000/activity_lists/1/activities/south-america-puzzle?custom_course_id=1&html5=1" %>
            <% value="http://localhost:3000/lti_dashboard?custom_course_id=1" %>
            <% value="http://localhost:3000/lti_dashboard?custom_course_id=637" %>
            <% value="http://localhost:3000/lti_debug" %>
            value="http://localhost:3000/lti_dashboard?custom_course_id=8059"
        />
      </td>
    </tr>

    <tr>
      <td>Tool consumer info product family code (eg engrade, blackboard...)</td>
      <td><input name="tool_consumer_info_product_family_code" type="text" value="test-lms"/></td>
    </tr>

    <tr>
      <td>resource link id (using this for engrade source ids)</td>
      <td>
        <input name="resource_link_id" type="text"
               value="5"/>
      </td>
    </tr>

    <tr>
      <td>lti context id - used for cap section</td>
      <td>
        <input name="context_id" type="text"
               value="test-lti-ctxt-sec"/>
      </td>
    </tr>

    <tr>
      <td>lti context title - used for cap section name</td>
      <td>
        <input name="context_title" type="text"
               value="lti-title"/>
      </td>
    </tr>

    <tr>
      <td>role</td>
      <td>
        <input name="roles" type="text"
               value="learner"/>
      </td>
    </tr>

    <tr>
      <td>first name</td>
      <td>
        <input name="lis_person_name_given" type="text"
               value="f"/>
      </td>
    </tr>


    <tr>
      <td>last name</td>
      <td>
        <input name="lis_person_name_family" type="text"
               value="lastname"/>
      </td>
    </tr>


    <tr>
      <td>Launch as assignment</td>
      <td><input type="checkbox" name="assignment" checked="checked"></td>
    </tr>
    <tr>
      <td>Launch automatically</td>
      <td><input type="checkbox" name="autolaunch" checked="checked"></td>
    </tr>
  </table>

  <button type="submit">Submit</button>
</form>
</body>
</html>